* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.bg {
    background: url(../img/bg.png) no-repeat center center fixed;
    background-size: cover;
}